<div class="center-content">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title class="title">Register</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input type="" matInput placeholder="Full name" type="email" formControlName="name" value="">
                    <mat-icon matSuffix>perm_identity</mat-icon>
                    <mat-hint *ngIf="registerForm.controls.name.errors">name is Requires</mat-hint>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Username</mat-label>
                    <input type="Username" formControlName="username" matInput placeholder="Username">
                    <mat-hint *ngIf="registerForm.controls.username.errors">Username is Requires</mat-hint>
                    <mat-icon matSuffix>perm_identity</mat-icon>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>email</mat-label>
                    <input type="text" formControlName="email" matInput placeholder="Username">
                    <mat-hint *ngIf="registerForm.controls.email.errors">Username is Requires</mat-hint>
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" formControlName="password" matInput placeholder="password">
                    <mat-hint *ngIf="registerForm.controls.password.errors">password is Requires</mat-hint>
                    <mat-icon matSuffix>vpn_key</mat-icon>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" formControlName="passwordconfirm" matInput placeholder="confirm password">
                    <mat-hint *ngIf="registerForm.hasError('passwordsNotMatching')">password is Requires</mat-hint>
                    <mat-icon matSuffix>vpn_key</mat-icon>
                </mat-form-field>
                <button mat-flat-button color="primary" [disabled]="!registerForm.valid">Login</button>
            </form>
            <h3 *ngIf="registerForm.invalid">Forms contains Following</h3>
            <small *ngIf="registerForm.get('password').hasError('passwordInvalid')">Password is not contains Number</small>
            <!-- <small *ngIf="registerForm.hasError('passwordsNotMatching')">Password no matching</small> -->
        </mat-card-content>
    </mat-card>
</div>