
// table {
//     width: 100%;
//   }
//   th, td   {
//     text-align: center;
//     width: 400px;
//   }

// .title{
//     text-align: cen
//   }
  
//   .example-card {
//     max-width: 700px;
//     padding: 30px;
//   }

//   .table {
//     width: 100% !important;
//   }
  
//   .example-header-image {
//     /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
//     background-size: cover;
//   }
//   .center-content {
//       margin-top: 10px;
   
//       text-align: -webkit-center;
//   }
//   .example-form {
//     min-width: 150px;
//     max-width: 500px;
//     width: 100%;
//   }
  
//   .example-full-width {
//     margin-top: 10px;
//     width: 100%;
//   }

.table{ 
       
padding: 10px;
//table-layout: fixed;
width: 100%;
display: table;
}